<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-space-heading" jhiTranslate="pruebasJHipsterApp.space.home.createOrEditLabel">Create or edit a Space</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebasJHipsterApp.space.rooms" for="field_rooms">Rooms</label>
                    <input type="number" class="form-control" name="rooms" id="field_rooms"
                           formControlName="rooms"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebasJHipsterApp.space.meters" for="field_meters">Meters</label>
                    <input type="number" class="form-control" name="meters" id="field_meters"
                           formControlName="meters"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebasJHipsterApp.space.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebasJHipsterApp.space.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebasJHipsterApp.space.userInfo" for="field_userInfo">User Info</label>
                    <select class="form-control" id="field_userInfo" name="userInfo" formControlName="userInfo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userInfoOption.id === editForm.get('userInfo')!.value?.id ? editForm.get('userInfo')!.value : userInfoOption" *ngFor="let userInfoOption of userinfos; trackBy: trackById">{{ userInfoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
