<div>
    <h2 id="page-heading">
        <span jhiTranslate="pruebasJHipsterApp.userInfo.home.title">User Infos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-info" [routerLink]="['/user-info/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="pruebasJHipsterApp.userInfo.home.createLabel">
            Create a new User Info
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userInfos?.length === 0">
        <span jhiTranslate="pruebasJHipsterApp.userInfo.home.notFound">No userInfos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userInfos && userInfos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sex"><span jhiTranslate="pruebasJHipsterApp.userInfo.sex">Sex</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="birthDate"><span jhiTranslate="pruebasJHipsterApp.userInfo.birthDate">Birth Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country"><span jhiTranslate="pruebasJHipsterApp.userInfo.country">Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="town"><span jhiTranslate="pruebasJHipsterApp.userInfo.town">Town</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postCode"><span jhiTranslate="pruebasJHipsterApp.userInfo.postCode">Post Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userInfo of userInfos ;trackBy: trackId">
                    <td><a [routerLink]="['/user-info', userInfo.id, 'view']">{{ userInfo.id }}</a></td>
                    <td>{{ userInfo.sex }}</td>
                    <td>{{ userInfo.birthDate | date:'medium' }}</td>
                    <td>{{ userInfo.country }}</td>
                    <td>{{ userInfo.town }}</td>
                    <td>{{ userInfo.postCode }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-info', userInfo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-info', userInfo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userInfo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="userInfos && userInfos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
