<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userm">
            <h2><span jhiTranslate="pruebasJHipsterApp.userm.detail.title">Userm</span> {{ userm.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pruebasJHipsterApp.userm.userInfo">User Info</span></dt>
                <dd>
                    <div *ngIf="userm.userInfo">
                        <a [routerLink]="['/user-info', userm.userInfo?.id, 'view']">{{ userm.userInfo?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/userm', userm.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
